body {
    font-family: Arial, sans-serif;
    background-color: burlywood;
    text-align: center;
    margin: 0;
    padding: 0;
}
form {
    background-color: #23e1eb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 80px;
    width: 300px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: #c01793;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(19, 180, 73);
}